@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
}

.logo {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.diamond-shape {
  background: #781fd5;
  height: 60px;
  transform: rotate(45deg);
  width: 60px;
  top: 0;
  left: 0;
}

.diamond-shape-2 {
  transform: rotate(45deg) translate(35%, -35%);
  border: 5px solid #9088ef;
  height: 50px;
  width: 50px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #2c2e90;
}
